<!--Tera Tutorial: https://tera.netlify.app/docs/#templates-->
<!--Tera Supported Time Formats: https://docs.rs/chrono/0.4.19/chrono/format/strftime/index.html-->
<!DOCTYPE html>
<HTML>
Macro Test: 



EXTERNAL TEMPLATE 2






<BODY>
    <H1>Hello, World!</H1>
    <HR>
    <FONT SIZE="4">Welcome, FooBar<br>Is nice !</FONT>
    <BR>Homepage: https://www.google.com
    <BR> Inject: &lt;H1&gt;BIG&lt;&#x2F;H1&gt;
    <BR> Jerusalem Time: <I>2022-08-12 01:38:23</I>
    <BR> Berlin Time: <I>2022-08-12 00:38:23</I>
    <HR>
    <BR>Some Numbers: <I>1, 2, 3, 4, 5, 6</I>
</BODY>

</HTML>