<!--TEMPLATE tera-->
<!--Tera Tutorial: https://tera.netlify.app/docs/#templates-->
<!--Tera Supported Time Formats: https://docs.rs/chrono/0.4.19/chrono/format/strftime/index.html-->
<!DOCTYPE html>
<HTML>

<BODY>
    <H1>Hello, World!</H1>
    <HR>
    <FONT SIZE="4">Welcome, FooBar !</FONT>
    <BR>Homepage: https://www.google.com
    <BR> Jerusalem Time: <I>2022-08-05 01:39:53</I>
    <BR> Berlin Time: <I>2022-08-05 00:39:53</I>
    <HR>
    <BR>Some Numbers: <I>1, 2, 3, 4, 5, 6</I>
</BODY>

</HTML>